    @charset "UTF-8";
    body {
        color: #000000;
        font-size: 15px;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif;
    }
    
    header {
        background-color: rgb(54, 15, 54);
        text-align: center;
        font-size: 16px;
        color: #000000;
        padding: 20px 0;
    }
    
    main {
        background-color: #3b1b32d3;
    }
    
    header h1 {
        font-size: 18px;
    }
    
    #map {
        width: 90%;
        height: 90%;
        position: absolute;
        margin-bottom: 0;
    }
    
    #info-footer {
        color: #a2a2a2;
        background-color: #3d3f3e;
    }
    
    #info-footer h4 {
        font-size: 20px;
        text-transform: uppercase;
        color: #dfdfdf;
        margin-bottom: 25px;
    }
    
    .btn-negro {
        color: #000000;
        background-color: #cd06ff;
        text-transform: uppercase;
        font-size: 16px;
        padding: 15px 30px;
        border-radius: 0;
        border: 0;
        margin-right: 20px;
        letter-spacing: 2px;
    }
    
    .btn-negro:hover {
        background-color: #35002e;
        color: #ffffff;
    }
    
    #contacto {
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 30vh;
        margin-left: 30px;
    }
    
    .section {
        padding: 60px 0;
    }
    
    #proyectos {
        justify-content: center;
        justify-self: center;
        align-items: center;
        text-align: center;
        align-content: center;
    }
    
    .redes i {
        background-color: #464646;
        color: white;
        width: 45px;
        height: 45px;
        text-align: center;
        line-height: 45px;
        border-radius: 100%;
        transition: all 0.3s ease-in-out;
    }
    
    .redes i:hover {
        background-color: #b3009b;
        transition: all 0.3s ease-in-out;
    }
    
    #servicios {
        align-items: center;
        text-align: center;
        align-content: center;
    }